<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>cookbook</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>NSCameraUsageDescription</key>
    <string>Can we access your camera in order to scan barcodes?</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to the photo library.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app does not require access to the microphone.</string> 
	<!-- blue tooth
	<key>NSBluetoothPeripheralUsageDescription</key>  
	<string>My description about why I need this capability</string>
	apple music
	<key>NSAppleMusicUsageDescription</key>
	<string>My description about why I need this capability</string>
	Calendar:
	<key>NSCalendarsUsageDescription</key>
	<string>My description about why I need this capability</string>
	Camera:

	<key>NSCameraUsageDescription</key>
	<string>My description about why I need this capability</string>
	Contacts:

	<key>NSContactsUsageDescription</key>
	<string>My description about why I need this capability</string>
	FaceID:

	<key>NSFaceIDUsageDescription</key>
	<string>My description about why I need this capability</string>
	Health Share:

	<key>NSHealthShareUsageDescription</key>
	<string>My description about why I need this capability</string>
	Health Update:

	<key>NSHealthUpdateUsageDescription</key>
	<string>My description about why I need this capability</string>
	Home Kit:

	<key>NSHomeKitUsageDescription</key>
	<string>My description about why I need this capability</string>
	Location:

	<key>NSLocationUsageDescription</key>
	<string>My description about why I need this capability</string>
	Location (Always):

	<key>NSLocationAlwaysUsageDescription</key>
	<string>My description about why I need this capability</string>
	Location (When in use):

	<key>NSLocationWhenInUseUsageDescription</key>
	<string>My description about why I need this capability</string>
	Microphone:

	<key>NSMicrophoneUsageDescription</key>
	<string>My description about why I need this capability</string>
	Motion (Accelerometer):

	<key>NSMotionUsageDescription</key>
	<string>My description about why I need this capability</string>
	NFC (Near-field communication):

	<key>NFCReaderUsageDescription</key>
	<string>My description about why I need this capability</string>
	Photo Library:

	<key>NSPhotoLibraryUsageDescription</key>
	<string>My description about why I need this capability</string>
	Photo Library (Write-only access):

	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>My description about why I need this capability</string>
	Reminders:

	<key>NSRemindersUsageDescription</key>
	<string>My description about why I need this capability</string>
	Siri:

	<key>NSSiriUsageDescription</key>
	<string>My description about why I need this capability</string>
	Speech Recognition:

	<key>NSSpeechRecognitionUsageDescription</key>
	<string>My description about why I need this capability</string>
	-->
	<key>UIStatusBarHidden</key>
	<true/>

</dict>
</plist>